@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(0.975); }
  100% { transform: scale(1); }
}

@mixin bg-animation ($bg-color, $text-color) {
  &:not([aria-current]):hover,
  &:not([aria-current]):focus {
    background: $bg-color;
    transition: background 0.15s linear 0.3s, color 0.15s linear 0.3s;
    color: $text-color;
  }

  &:before,
  &:after {
    content: " ";
    width: 0;
    height: 0;
    border: 2px solid transparent;
    position: absolute;
  }

  &:before {
    top: 0;
    left: 0;
    right: auto;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  &:not([aria-current]):hover:before,
  &:not([aria-current]):hover:after {
    width: 100%;
    height: 100%;
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
  }

  &:not([aria-current]):hover:before {
    border-top-color: $bg-color;
    border-right-color: $bg-color;
  }

  &:not([aria-current]):hover:after {
    border-bottom-color: $bg-color;
    border-left-color: $bg-color;
  }
}
