/* Fonts */
$font-family-default: 'museo-sans-rounded', sans-serif;
$font-family-headings: 'museo-sans-rounded', sans-serif;
$font-size-root: 8;

/* Breakpoints */
$break-mobile: 640px;
$break-tablet: 768px;
$break-desktop: 1024px;
$break-desktop-large: 1400px;
$break-desktop-x-large: 1600px;
$break-container: 1138px;

/* Widths */
$width-desktop: 128rem;
$width-desktop-wide: 142rem;

/* Borders */
$border-radius: 3px;

/* Colors */
$color-black: #363636;
$color-white: #fff;
$color-white-encoded: '%23ffffff';

$color-gray-darkest: #a7a7a7;
$color-gray-dark: #cdcdcd;
$color-gray-light: #e2e2e2;
$color-gray-lightest: #f7f7f7;

$color-red: #d63037;
$color-red-hover: #c02b31;
$color-red-encoded: '%23d63037';

$color-purple: #594d6a;
$color-purple-hover: #4f455f;
$color-purple-encoded: '%23594d6a';

$color-orange: #e47553;

$color-green-encoded: '%23d8e8dd';
$color-pink-encoded: '%23f8e9e8';
$color-blue-encoded: '%23d8ecee';
$color-orange-encoded: '%23e47553';
