@import '../shared/styles/global.scss';

h1 {
  font-size: 3.75rem;
  line-height: 1.4;
}

h2 {
  margin-top: 0;
  font-weight:  900;

  a {
    color: $color-black;
    font-weight: inherit;
  }
}

figure {
  margin: 0;
}

blockquote {
  margin: 0 0 2.5rem 0;
  border-left: 1px solid $color-gray-light;
  padding: 1.25rem 2.5rem;
}

pre {
  background: #fafafa !important;
  margin: 2.5rem 0 !important;
  border-radius: 3px;
  padding: 1.5rem !important;
  font-size: 2rem !important;
}

hr {
  margin: 4rem 0 3rem 0;
  border: none;
  border-top: 1px solid $color-gray-light;
}

@media (min-width: $break-tablet) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
  }

  blockquote {
    margin-bottom: 3rem;
    padding: 2.25rem 3.5rem;
  }

  pre {
    margin: 3rem 0 !important;
    padding: 3rem !important;
  }

  .well__section:first-child .post__body h3 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
    text-align: left;
  }
}

@media (min-width: $break-desktop) {
  h1 {
    font-size: 5.25rem;
  }

  h2 {
    margin-bottom: 4rem;
    font-size: 4.5rem;
  }

  blockquote {
    margin-bottom: 4rem;
    padding: 3.25rem 4.5rem;
  }

  pre {
    margin: 4rem 0 !important;
  }

  hr {
    margin: 7rem 0 6rem 0;
  }

  .well__section:first-child .post__body h3 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}